.about {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
    background-color: var(--secondary-color);
    padding: 50px;
    position: relative;
    height: 100vh;
}

.about-text-content {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding-right: 20px;
}

.about-title {
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 0px 0px var(--primary-color);
}

@media screen and (max-width: 990px) {
    .about-image-content {
        display: none;
    }

    .about-text-content {
        flex: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-title {
        margin-bottom: -5px;
    }

    .about-text {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .about-text-content {
        margin-top: 80px;
        border-radius: var(--border-radius);
        border: 5px solid var(--primary-color);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 450px) {
    .about-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .about-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .about-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 325px) {
    .about-text {
        font-size: 12px;
    }
}