.about {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 50px;
    background-color: var(--secondary-color);
}

.about-text-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    text-align: left;
}

.about-title {
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about-image {
    transform: translateY(30px);
    height: calc(100vh - 240px);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 0px 0px var(--primary-color);
}

@media screen and (max-width: 1500px) { 
    .about-image {
        height: auto;
        max-width: 90%;
    }
}

@media screen and (max-width: 990px) {
    .about-image-content {
        display: none;
    }

    .about-text-content {
        max-width: 100%;
    }
}

@media screen and (max-height: 950px) {
    .about {
        padding: 30px;
    }

    .about-text {
        line-height: 1.5;
    }
}

@media screen and (max-width: 500px) {
    .about {
        align-items: center;
        justify-content: center;
    }

    .about-title {
        margin-bottom: -5px;
    }

    .about-text-content {
        margin-top: 80px;
        padding: 15px;
        border: 5px solid var(--primary-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-text {
        font-size: 17px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .about-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .about-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .about-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 325px) {
    .about-text {
        font-size: 12px;
    }
}

@media screen and (max-height: 900px) {
    .about-text {
        line-height: 1.3;
        font-size: 1.9vh;
    }
}
