.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--secondary-color);
}

.about-text-content {
    max-width: 50%;
}

.about-title {
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 10px;
}

.about-text {
    color: var(--primary-color);
    font-size: clamp(13.5px, 2vw, 18px);
    line-height: 1.5;
}

.about-image {
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 0 0 var(--primary-color);
    height: auto;
    max-width: 50%;
}

@media screen and (max-height: 1200px) {
    .about-image {
        max-height: 45vh;
    }
}

@media screen and (max-width: 1100px) {
    .about-image {
        display: none;
    }
    .about-text-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .about {
        padding: var(--main-section-padding-mobile);
        align-items: center;
        justify-content: center;
    }

    .about-title {
        margin-bottom: -5px;
    }

    .about-text-content {
        padding: 15px;
        border: 5px solid var(--primary-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}