.contact {
    background-color: var(--secondary-color); 
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Raleway-SemiBold';
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}

.contact-input {
    padding: 15px;
    border: 2px solid #000;
    border-radius: var(--border-radius);
    font-family: 'Raleway-SemiBold'; 
    font-size: 16px;
    transition: border 0.3s ease;
    resize: none;
}

.contact-textarea {
    padding: 15px;
    border: 2px solid #000;
    border-radius: var(--border-radius);
    font-family: 'Raleway-SemiBold'; 
    font-size: 16px;
    transition: border 0.3s ease;
    resize: none;
}

.contact-label {
    color: var(--primary-color); 
    font-family: 'Raleway-SemiBold';
    font-size: 18px; 
}

.contact-input:focus,
.contact-textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 15px;
    border: 2px solid var(--primary-color); 
    border-radius: var(--border-radius);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease; 
}

.contact-button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: translateY(-2px);
}

.contact-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media screen and (max-width: 600px) {
    .contact-title {
        font-size: 28px;
    }

    .contact-input {
        font-size: 14px;
    }

    .contact-button {
        font-size: 16px;
    }
}
