@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf)
}

:root {
    --primary-color: #E8DFCA;
    --secondary-color: #4F6F52;
}

* {
    font-family: "Raleway-SemiBold";
}

body {
    margin: 0;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay img {
    max-width: 10%;
    max-height: 10%;
    animation: scale 1.5s ease-in-out infinite;
}

#error-text {
    margin-top: 20px;
    color: var(--secondary-color);
    font-family: Raleway-SemiBold;
    font-size: 24px;
}

#back-home {
    margin-top: 10px;
}

.home-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Raleway-SemiBold;
    font-size: 20px;
}

.home-link:hover {
    text-decoration: underline;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
