.goals {
    padding: var(--main-section-padding);
    gap: 20px;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.goals-title {
    font-size: 80px;
    color: var(--primary-color);
}

.goals-cards {
    border-radius: calc(var(--border-radius) + 50px);
    padding: 50px;
    display: flex;
    gap: 40px;
    background-color: var(--primary-color);
}

.goals-card {
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
}

.goals-card:nth-child(1) {
    background-image: url(../images/recycling.jpg);
}

.goals-card:nth-child(2) {
    background-image: url(../images/inclusive.jpg);
}

.goals-card:nth-child(3) {
    background-image: url(../images/freedom.jpg);
}

.card-container {
    border-top: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(5px);
}

.card-title {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
}

.card-button {
    border-radius: var(--border-radius);
    width: 45%;
    height: 45px;
    font-size: 16px;
    background-color: var(--text-color);
}

.section-title {
    margin-bottom: 20px;
    display: none;
    font-size: 50px;
}

.section-text {
    display: none;
    font-size: 20px;
    line-height: 28px;
}

.section-title.active,
.section-text.active {
    display: block;
    animation: appear 0.8s forwards;
}

.recycling,
.inclusive,
.freedom {
    overflow: hidden;
    position: relative;
}

.recycling {
    padding-left: 45vw;
    padding-right: 5vw;
}

.recycling::before {
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -47.5vw;
    width: 80vw;
    height: 130vh;
    background-image: url(../images/recycling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: left 0.8s ease-out, opacity 0.8s;
}

.recycling.active::before {
    left: -40vw;
    opacity: 1;
}

.inclusive {
    padding-left: 5vw;
    padding-right: 45vw;
    background-color: var(--secondary-color);
}

.inclusive::before {
    border-radius: 100%;
    content: "";
    position: absolute;
    right: -47.5vw;
    width: 80vw;
    height: 130vh;
    background-image: url(../images/inclusive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: right 0.8s ease-out, opacity 0.8s;
}

.inclusive.active::before {
    right: -40vw;
    opacity: 1;
}

.inclusive .section-title,
.inclusive .section-text {
    color: var(--primary-color);
}

.freedom .section-title,
.freedom .section-text {
    color: var(--text-color);
}

.image-title-container {
    border-radius: 50%;
    position: absolute;
    top: -35vh;
    width: 105vw;
    height: 100vh;
    background-image: url(../images/freedom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Animations */
@keyframes appear {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
