.main-header {
    padding-left: 20px;
    top: 0;
    position: fixed;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
}

.main-header.is-hamburger-active {
    padding: 15px;
    padding-left: 20px;
    height: 100vh;
    align-items: self-start;
}

.header-background {
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    width: 100%; 
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    transition: height 0.5s ease;
}

.header-background.is-hamburger-active {
    height: 100vh;
    box-shadow: none;
}


.header-logo {
    height: 50px;
    cursor: pointer;
    z-index: 2;
}

.header-title {
    margin-right: -10px;
    transform: translateX(-10px);
    color: var(--text-color);
    font-family: "Raleway-SemiBold";
    user-select: none;
    -webkit-user-select: none;
}

.header-title.is-hamburger-active {
    transform: translate(-10px,6px);
}

.header-separator {
    border-radius: var(--border-radius);
    height: 60%;
    width: 4px;
    background: var(--border-color);
    z-index: 2;
}

.header-links {
    display: flex;
    gap: 20px;
    cursor: pointer;
    z-index: 2;
}

.header-link {
    font-family: "Raleway-SemiBold";
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s;
}

.header-link:hover, .header-link:focus {
    color: #ffffffb4;
    outline: none;
}

.hamburger-menu {
    position: absolute;
    right: 28px;
    width: 25px;
    height: 20px;
    display: none;
    transform: scale(1.3);
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3;
    user-select: none;
}

.bar {
    border-radius: var(--border-radius);
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
    transition: 0.4s;
    transform-origin: center;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger-menu.active {
    top: 35px;
    display: flex;
    transform: translateY(-4px) scale(1.3);
}

@media screen and (max-width: 700px) {
    .header-separator, .header-links {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
}