.product {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.slogan {
    color: var(--secondary-color);
    font-size: 55px;
}

.container-buy {
    background-color: var(--secondary-color);
    width: 425px;
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--border-radius) + 37px);
    gap: 20px;
}

.buy-images-container {
    display: flex;
    width: 82.5%;
    height: 360px;  
    overflow: hidden;
    border-radius: var(--border-radius);
    position: relative;
}

.buy-image-wrapper {
    width: 100%;
    flex-shrink: 0;
    animation: changeImage 27s infinite;
}

.buy-image {
    width: 360px;
}

.buy-text {
    color: var(--text-color);
    text-shadow: 1px 1px 0px #0000004f;
    font-size: 1.3em;
    width: 82.5%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.buy-button {
    background-color: var(--text-color);
    font-size: 30px;
    border-radius: 40px;
    color: var(--secondary-color);
    cursor: pointer;
    width: 82.5%;
    text-align: center;
    line-height: 80px;
    height: 80px;
    transition: 1.2s;
    user-select: none;
    -webkit-user-select: none;
}

.buy-button:hover {
    transform: scale(0.95);
}

.contact {
    background-color: var(--secondary-color); 
}

/* Animation fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animation slide-in */
.slide-in {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}


@keyframes changeImage {
    0%, 12.5% { transform: translateX(0%); }
    25%, 37.5% { transform: translateX(-100%); }
    50%, 62.5% { transform: translateX(-200%); }
    75%, 87.5% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }    
}

@media screen and (max-width: 1200px) {
    .slogan {
        font-size: 46.5px;
    }
}

@media screen and (max-width: 1100px) {
    .slogan {
        font-size: 40px;
    }
}

@media screen and (max-width: 1050px) {
    .slogan {
        font-size: 36px;
    }
}

@media screen and (max-width: 990px) {
    .product {
        display: flex;
    }

    .product-container {

        flex-direction: column;
        gap: 2vh;
        position: relative;
    }
    
    .slogan {
        font-size: 30px;
    }

    .container-buy {
        width: 415px;
        height: 525px;
    }

    .about-text, .about-title {
        font-size:5px;
    }
}

@media screen and (max-height: 950px) {
    .buy-images-container {
        margin-top: -0.5vh;
    }
    
    .buy-image-wrapper, .buy-images-container {
        height: 40vh;
    }

    .buy-image{
        object-fit: cover;
        height: 40vh;
    }
}

@media screen and (max-height: 875px) {
    .buy-images-container {
        margin-top: -4vh;
    }
}

@media screen and (max-height: 825px) {
    .buy-images-container {
        margin-top: -5vh;
    }
}

@media screen and (max-width: 425px) {
    .main-section {
        padding-left: 0;
        padding-right: 0;
    }   

    .product-container {
        gap: 0px;
    }

    .slogan {
        margin-bottom: -18px;
        font-size: 28px;
        width: calc(100% - 70px);
    }

    .container-buy {
        width: 100%;
        background-color: transparent;
    }
}

@media (pointer: coarse) {
    .buy-button:hover {
        transform: scale(1);
    }
}