main {
    margin-top: var(--header-height);
    overflow: hidden; /*temp*/
}

.main-section {
    width: 100%;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

.product {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.section-slogan {
    font-family: "Raleway-SemiBold";
    color: var(--secondary-color);
    font-size: 50px;
}


.section-buy {
    border-radius: calc(var(--border-radius) + 37px);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 544px;
    width: 450px;
    background-color: var(--secondary-color);
}

.buy-image-title {
    position: relative;
}

.buy-image {
    border-radius: var(--border-radius);
    width: 375px;
}

.buy-title {
    position: absolute;
    color: var(--text-color);
    font-family: Raleway-SemiBold;
    bottom: 10px;
    left: 10px;
    text-shadow: 1px 1px 0px #0000004f;

}

.buy-button {
    border-radius: 40px;
    width: 375px;
    height: 80px;
    background-color: var(--text-color);
    font-family: Raleway-SemiBold;
    font-size: 30px;
    color: var(--secondary-color);
    cursor: pointer;
}

.buy-button:hover, .buy-button:focus{
    border: 1px solid black;
}

.contact {
    background-color: var(--secondary-color); 
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
    background-color: var(--secondary-color);
    padding: 50px;
    position: relative;
}

.about-icon-wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: scale(2);
    overflow: hidden;
}

.about-icon {
    width: 80px;
    height: auto;
}

.about-text-content {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding-right: 20px;
}

.about-title {
    font-family: "Raleway-SemiBold";
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text {
    font-family: "Raleway-SemiBold";
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}
