main {
    margin-top: var(--header-height);
    overflow: hidden; /*temp*/
}

.main-section {
    width: 100%;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

.product {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.slogan {
    font-family: Raleway-SemiBold;
    color: var(--secondary-color);
    font-size: 55px;
}

.container-buy {
    background-color: var(--secondary-color);
    width: 425px;
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--border-radius) + 37px);
    gap: 20px;
}

.buy-images-container {
    display: flex;
    width: 82.5%;
    overflow: hidden;
    border-radius: var(--border-radius);
    position: relative;
}

.buy-image-wrapper {
    width: 100%;
    flex-shrink: 0;
    animation: changeImage 27s infinite;
}

.buy-image {
    width: 351px;
}

.buy-text {
    color: var(--text-color);
    text-shadow: 1px 1px 0px #0000004f;
    font-family: Raleway-SemiBold;
    font-size: 1.3em;
    width: 82.5%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.buy-button {
    background-color: var(--text-color);
    font-family: Raleway-SemiBold;
    font-size: 30px;
    border-radius: 40px;
    color: var(--secondary-color);
    cursor: pointer;
    width: 82.5%;
    text-align: center;
    line-height: 80px;
    height: 80px;
    transition: 1.2s;
}

.buy-button:hover {
    transform: scale(0.95);
}

.contact {
    background-color: var(--secondary-color); 
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
    background-color: var(--secondary-color);
    padding: 50px;
    position: relative;
}

.about-icon-wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: scale(2);
    overflow: hidden;
}

.about-icon {
    width: 80px;
    height: auto;
}

.about-text-content {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding-right: 20px;
}

.about-title {
    font-family: "Raleway-SemiBold";
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text {
    font-family: "Raleway-SemiBold";
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

@keyframes changeImage {
    0%, 12.5% { transform: translateX(0%); }
    25%, 37.5% { transform: translateX(-100%); }
    50%, 62.5% { transform: translateX(-200%); }
    75%, 87.5% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }    
}

@media screen and (max-width: 1200px) {
    .slogan {
        font-size: 46.5px;
    }
}

@media screen and (max-width: 1100px) {
    .slogan {
        font-size: 40px;
    }
}

@media screen and (max-width: 1050px) {
    .slogan {
        font-size: 36px;
    }
}

@media screen and (max-width: 990px) {
    .product {
        display: flex;
    }

    .product-container {

        flex-direction: column;
        gap: 2vh;
        position: relative;
    }
    
    .slogan {
        font-size: 30px;
    }

    .container-buy {
        width: 415px;
        height: 525px;
    }

    .about-text, .about-title {
        font-size:5px;
    }
}

@media screen and (max-width: 425px) {
    .main-section {
        padding-left: 0;
        padding-right: 0;
    }

    .slogan {
        font-size: 28px;
        width: calc(100% - 70px);
    }

    .container-buy {
        width: 100%;
        background-color: transparent;
    }
}

@media (pointer: coarse) {
    .buy-button:hover {
        transform: scale(1);
    }
}