.recycling {
    padding-left: 45vw;
    padding-right: 5vw;
    overflow: hidden;
}

.recycling::before {
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -40vw;
    width: 80Vw;
    height: 130vh;
    background-image: url(../images/recycling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide-left 0.8s ease-out;
}

.recycling-title {
    margin-bottom: 20px;
    font-size: 50px;
}

.recycling-title, .recycling-text {
    animation: appear 0.8s;
}

.recycling-text {
    font-size: 20px;
    line-height: 28px;
}

@keyframes appear {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }

    100%  {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        left: -47.5vw;
    }

    100% {
        left:-40vw;
    }
}