@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway-SemiBold";
}

:root {
    --border-color: #FFFFFF;
    --border-radius: 25px;
    --text-color: #FFFFFF;

    --primary-color: #E8DFCA;
    --secondary-color: #4F6F52;

    --main-header-height: 80px;
    --main-section-padding: 80px 50px 0px 50px;
    --main-section-padding-mobile: 80px 30px 0px 30px;
}

body {
	background-color: var(--primary-color);
}

main {
    margin-top: var(--main-header-height);
}

img {
    user-select: none;
    -webkit-user-select: none;
}

button {
    transition: 0.1s;
    cursor: pointer;
}

button:hover {
    transform: scale(0.98);
}

.main-section {
    padding: var(--main-section-padding);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5vw;
    background-color: var(--primary-color);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 6vh;
    height: 16.5vh;
    border: solid 1px var(--primary-color);   
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (pointer: coarse) {
    button:hover {
        transform: scale(1);
    }
}