@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway-SemiBold";
}

:root {
    
    --border-color: #FFFFFF;
    --border-radius: 25px;

    --text-color: #000000a;

    --primary-color: #E8DFCA;
    --secondary-color: #4F6F52;

    --header-height: 80px;
}

body {
	background-color: var(--primary-color);
}

main {
    margin-top: var(--header-height);
}

img {
    user-select: none;
    -webkit-user-select: none;
}

.main-section {
    width: 100%;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}