.team {
    padding: 80px 50px 0px 50px;
}

.team-cards {
    padding: 2% 25px 2% 25px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-card {
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    min-width: 400px;
    max-width: 400px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.member-top {
    border-bottom: 4px solid var(--primary-color);
    position: relative;
    height: 55%;
    width: 100%;
}

.member-photo {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
}

.member-name {
    padding: 10px;
    border-radius: calc(var(--border-radius) - 15px);
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.member-description {
    margin: 55px 30px 20px;
    font-size: 26px;
    text-align: center;
    overflow: auto;
    color: inherit;
}

.member-button {
    border-radius: 40px;
    position: absolute;
    bottom: 30px;
    width: calc(100% - 60px);
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--text-color);
    cursor: pointer;
    transition: transform 1.2s;
    user-select: none;
}

.member-button:hover {
    transform: scale(0.95);
}

@media screen and (min-width: 2000px) {
    .team-cards {
        gap: 30px;
    }
}

@media screen and (max-width: 1760px) {
    .team {
        padding-right: 0px;
    }

    .team-cards {
        padding: 0px;
        justify-content: left;
        overflow-x: auto;
    }

    .member-card:last-child {
        margin-right: 50px;
    }
}

@media screen and (max-height: 950px) {
    .member-card {
        height: 63vh;
    }

    .member-description {
        margin-top: 4.8vh;
        font-size: 23px;
    }
}

@media screen and (max-height: 850px) {
    .member-description {
        margin-top: 5.4vh;
        font-size: 20px;
    }
    
    .member-button {
        font-size: 25px;
    }
}

@media screen and (max-height: 780px) {
    .member-description {
        margin-top: 4.8vh;
    }
    
    .member-button {
        height: 50px;
    }
}

@media screen and (max-height: 650px) {
    .member-top {
        height: 50%;
    }
    
    .member-description {
        margin-top: 6vh;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .team {
        padding-left: 30px;
    }

    .team-cards {
        gap: 3vw;
    }

    .member-card {
        min-width: 78vw;
    }

    .member-card:last-child {
        margin-right: 30px;
    }
}

@media screen and (max-width: 362px) {
    .member-top {
        height: 50%;
    }

    .member-description {
        margin-top: 4.6vh;
        font-size: 20px;
    }
}

@media (pointer: coarse) {
    .member-button {
        transform: scale(1);
    }
}
