.team {
    padding: 0px;
}

.team-cards {

    display: flex;
    padding: 2% 25px 2% 25px;
    gap: 300px;
    justify-content: center;

}

.member-card {
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    flex: 0 0 375px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.member-top {
    border-bottom: 4px solid var(--primary-color);
    position: relative;
    height: 55%;
    width: 100%;
}

.member-photo {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
}

.member-name {
    padding: 10px;
    border-radius: calc(var(--border-radius) - 15px);
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.member-description {
    margin: 55px 30px 20px;
    font-size: 26px;
    text-align: center;
    overflow: auto;
    color: inherit;
}

.member-button {
    width: calc(100% - 60px);
    height: 60px;
    border-radius: 40px;
    position: absolute;
    bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--text-color);
    cursor: pointer;
    transition: transform 1.2s;
    user-select: none;
}

.member-button:hover {
    transform: scale(0.95);
}

@media screen and (max-width: 2500px) {
    .team-cards {
        gap: 110px;
    }
}

@media screen and (max-width: 1870px) {
    .team-cards {
        justify-content: left;
        overflow: auto;
    }
}

@media screen and (max-height: 850px) {

    .member-card {
        height: 62.5vh;
    }

    .member-description {
        margin-top: 5.5vh; 
    }
}

@media screen and (max-height: 750px) {

    .member-card {
        transform: scale(0.9);
    }
}

@media screen and (max-height: 700px) {
    .team-cards {
        gap: 50px;
    }
}

@media screen and (max-width: 500px) {

    .member-card {
        flex-basis: calc(100vw - 75px);
        margin-left: -10vw;
    }

    .member-card.first {
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    .member-description {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    .member-card {
        flex-basis: calc(100vw - 60px);
    }

    .member-name {
        font-size: 16px;
    }

    .member-description {
        font-size: 20px;
    }
}

@media (pointer: coarse) {
    .member-button {
        transform: scale(1);
    }
}
