.team {
    padding: 80px 50px 0 50px;
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.member-card {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    flex: 0 0 375px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.member-top {
    border-bottom: 4px solid var(--primary-color);
    position: relative;
    height: 55%;
    width: 100%;
}

.member-photo {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
}

.name-role-container {
    padding: 10px;
    border-radius: calc(var(--border-radius) - 15px);
    position: absolute;
    bottom: -22.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.member-name {
    font-size: 20px;
    color: inherit;
}

.member-description {
    margin: 55px 30px 20px;
    font-size: 26px;
    text-align: center;
    height: 120px;
    overflow: auto;
    color: inherit;
}

.member-button {
    width: calc(100% - 60px);
    height: 60px;
    border-radius: 40px;
    position: relative;
    bottom: 15px;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--text-color);
    cursor: pointer;
    transition: transform 1.2s;
    user-select: none;
    -webkit-user-select: none;
}

.member-button:hover {
    transform: scale(0.95);
}

@media screen and (max-width: 1900px) {
    .team {
        justify-content: flex-start;
    }
}

@media screen and (max-height: 850px) {
    .member-card {
        height: 65vh;
    }

    .member-description {
        margin-top: 5vh;
        height: 10.6vh;
    }
}

@media screen and (max-height: 750px) {
    .team {
        gap: 30px;
    }

    .member-card {
        transform: scale(0.9);
    }
}

@media screen and (max-height: 700px) {
    .team {
        gap: 20px;
    }
}

@media screen and (max-width: 500px) {
    .team {
        padding: 80px 30px 0 30px;
    }

    .member-card {
        flex-basis: calc(100vw - 75px);
        margin-left: -10vw;
    }
}

@media screen and (max-width: 375px) {
    .member-card {
        flex-basis: calc(100vw - 60px);
        margin-left: -10vw;
    }

    .member-card.first {
        margin-left: 0;
    }

    .member-name {
        font-size: 16px;
    }
    
    .member-description {
        font-size: 20px;
    }
}

@media (pointer: coarse) {
    .member-button {
        transform: scale(1);
    }
}
