.team {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.member-card {
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    flex-basis: 375px; 
    flex-grow: 0; 
    flex-shrink: 0; 
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.member-photo {
    border-bottom: 4px solid var(--primary-color);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    background: #000000;
}

.name-role-container {
    border-radius: calc(var(--border-radius) - 15px);
    top: 276px;
    padding: 10px;
    position: absolute;
    left: 50%;
    width: 65%;
    transform: translateX(-50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.member-name {
    font-size: 20px;
}

.member-description {
    text-align: center;
    margin: 65px 30px 20px 30px;
    font-size: 26px;
    height: 140px;
    overflow: auto;
}

.member-button {
    width: calc(100% - 60px);
    border-radius: 40px;
    height: 60px;
    position: relative;
    bottom: 15px;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--text-color);
    cursor: pointer;
    transition: 1.2s;
    user-select: none;
    -webkit-user-select: none;
}

.member-button:hover {
    transform: scale(0.95);
}

@media screen and (max-width: 1900px) {

    .team {
        justify-content: left;
    }

}

@media screen and (max-width: 500px) {
    .member-card {
        height: 515px;
    }

    .name-role-container {
        top: 235.5px;
    }

}

@media (pointer: coarse) {
    .member-button {
        transform: scale(1);
    }
}